{% extends 'note_base.html' %}
{% block title %}All Lists{% endblock title %}
{% block content %}

<div class="my-8">
    {% for note in note_list %}
    <div id="article-list">
        <article>
            <a href="{% url 'note_detail' note.id %}" class="a_list_class">
            <p>
                <h1 class="h1_list_class">&#10162; {{note.date_created|date:"d/m/y - H:i - l"}} &#8614; {{note.title}}</h1>
            </p>
        </a>
        </article>
        {%empty%}
        <p>
        <h4>No list to show...</h4>
        </p>
    </div>
    {% endfor %}
</div>

{% endblock %}